h1{
    font-family:castellar;
}
body{
    background-image: url(../Images/BS.jpg);
    background-position: center;
    color:white;
}
h2
{
    font-family: castellar;
}
li{
    font-family: "monotype corsiva";
    font-size: 25px;
    word-spacing: 2px;
}
li:first-letter{
    font-size:30px;
}
p
{
    font-size: 25px;
}